<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Trips</title>
</head>
<body>
<app-autocompleter [data]="contacts"></app-autocompleter>
<div class="jumbotron">Hello {{title}}</div>

<div id="inputReactiveForm">
  <form (ngSubmit)="addReactiveFormContact()" [formGroup]="reactiveFormGroup">
    <div>
      <label for="inputFirstName">First name:</label>
      <input type="text" id="input-FirstName" formControlName="firstName">
    </div>
    <div>
      <label for="inputSurname">Surname:</label>
      <input type="text" id="input-Surname" formControlName="surname">
    </div>
    <div>
      <label for="inputEmail">E-mail:</label>
      <input type="text" id="input-Email" formControlName="email">
    </div>
    <div>
      <button [disabled]="reactiveFormGroup.invalid">Add Contact</button>
    </div>
  </form>
</div>

<table class="table">
  <tr>
    <th>Name</th>
    <th>E-mail address</th>
    <th></th>
  </tr>
  <tr *ngFor="let contact of contacts; let i = index">
    <td>{{contact | contactName}}</td>
    <td>{{contact.email}}</td>
    <td>
      <button class="btn">Edit</button>
      <button class="btn btn-danger" (click)="removeContact(i)">Delete</button>
    </td>
  </tr>
</table>

<form (ngSubmit)="addContact()">
  <label for="inputFirstName">First name:</label>
  <input type="text" [(ngModel)]="newContact.firstName" name="firstName" id="inputFirstName" class="form-control">
  <label for="inputSurname">Surname:</label>
  <input type="text" [(ngModel)]="newContact.surname" name="surname" id="inputSurname" class="form-control">
  <label for="inputEmail">E-mail address:</label>
  <input type="text" [(ngModel)]="newContact.email" name="email" id="inputEmail" class="form-control">
  <button class="btn btn-primary">Add</button>
</form>
</body>
</html>
